* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

.container {
    font-size: 20px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

.title , .account-info {
    color: black;
}

.main {
    background-color:  #bccbde77;
}

.announce, .trending {
    background-color: white;
    border-radius: 8px;
}
.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
}

/* *** Announcment Section *** */
.announce .card {
    border-bottom: 2px solid black;

    padding-bottom: 1em;
}

.announce .card .title {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 2px;
}

.announce .card p {
    font-size: 10px;
}

/* *** Trending Section *** */
.account-icon {
    justify-self: center;
}

.account-icon img {
    height: 40px;
    width: 40px;
    
    border-radius: 50%;
}

.account-info p:last-child {
    font-size: 0.60em;
    color: grey;
}

/* *** Projects Section *** */
.projects > .card {
    background-color: white;
    border-left: 8px solid orange;
    border-radius: 8px;

    padding: 1rem 1em;
}

.projects .card .title {
    font-size: 1em;
    font-weight: bold;
    align-self: end;
}

.projects .card p:last-child {
    font-size: 0.80em;
    color: gray;
}

.projects .card div {
    display: flex;
    justify-content: end;
    gap: 1.5em;
}
.projects .card img {
    height: 30px;
    width: 30px;
}

/* *** Sidebar Section *** */
aside {
    background-color:rgba(0, 118, 203, 0.89);
}

aside .title {
    color: white;
}

.navigation {
    cursor: pointer;
}

.branding .logo {
    height: 60px;
    width: 60px;

}
.branding .title {
    font-size: 1.5em;
}

.navigation-item {
    margin-bottom: 0.8rem;
}
.navigation-item .logo {
    height: 30px;
    width: 30px;
}

/* *** Header Section *** */
header {
    color: black;
}
.profile-pic {
    width: 80px;
    height: 80px;

    background-color: orange;
    border: 4px solid black;
    border-radius: 50%;

    justify-self: center;
}

.user-info-section .small-font {
    display: block;
    font-size: 0.7em;

    margin-bottom: 5px;
}

.btn {
    background-color: rgba(0, 118, 203, 0.89);
    color: white;
    padding: 12px;
    border-radius: 20px;

    font-size: .8em;
    text-align: center;
}