/* Layout Stylesheet */
body {
    padding: 20px;
}
.container {
    display: grid;
    grid-template-columns: minmax(17vw,20vw) 2fr;
    grid-template-rows: 1fr 4fr;

    height: 100vh;
}

.container .sidebar {
    grid-row: 1 / 3;
}

/* *** Main Section *** */
.main { 
    display: grid;
    grid-template-columns: 2fr minmax(17vw, 20vw);
    grid-template-rows: 1.5em 1fr 1.5em 1fr;
    gap: 1em;

    padding: 8px;
}

.main .navbar {
    grid-column: 1 / 3;
}

.main .projects {
    grid-row: 2 / 5;
}

.main > p {
    display: flex;
    align-items: end;
}

/* *** Navbar Section *** */
.navbar {
    display: grid;
    grid-template-columns: 2fr minmax(17vw, 20vw);
    gap: 1em;
    align-items: end;
}

/* *** Announcment Section *** */
.announce {
    display: grid;
    grid-row: repeat(3, 1fr);
    align-items: start;
    gap: 10px;

    padding: 1rem 1em;
}

/* *** Trending Section *** */
.trending {
    display: grid;

}

.trending .card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    align-items: center;

    width: 100%;
    padding: 5px;
}

/* *** Projects Section *** */
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 20px;
}

.projects > .card {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 5px;
}