* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

.container {
    font-size: 20px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

.container > .item, main > .item, .announce > .item {
    background-color: #ccc;
    border: 2px solid;
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
}

.announce .card {
    background-color: #FFFFFF;
    border-bottom: 2px solid black;

    padding-bottom: 1em;
}

.announce .card .title {
    font-weight: 600;
    margin-bottom: 2px;
}

.announce .card p {
    font-size: 10px;
}





